{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'core/room.css' %}">

    <title>Chat Room</title>
</head>

<body onload="showusername()">
    <audio id="message-audio" src="{% static 'samsung.mp3' %}"></audio>
    <img src="{% static 'core/img/matrix.wepb' %}" height="100"></img>
    <div class="gametitle">
        funny QUIZ
    </div>
    <div class="user-name-box" id="user-name-box">
    </div>
    <div class="container">


        <div class="gamecontainer">
            <div class="question">1. What is your name ?</div>
            <div class="options">
                <div class="option"> A . Joe </div>
                <div class="option">B . Forest</div>
                <div class="option">C . Will</div>
                <div class="option">D . Mark</div>

            </div>
        </div>

        <div class="chatcontainer">

            <div class="chatmesseges" id="chat-log">

            </div>
            <input class="chatinput" id="chat-message-input" type="text" size="100" placeholder="Enter your messege...">
            <input id="chat-message-submit" type="button" class="button-50" value="Send">

        </div>
    </div>



    {{ room_name|json_script:"room-name" }}
    <script>

    </script>
    <script src="{% static 'core/js/room.js' %}"></script>

</body>

</html>